{% include "myapi/navbar.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WooShop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
</head>
<body class="body-cart body-navbar content">

<table>
            {% for s in shoes %}
        <td>
            <div class="card-shoes">
                <div class="imgBx">
                    <img src="{{s.images.url}}">
                </div>
                <div class="details">
                    <h3>{{s.name}}<br><span>{{s.sex}}</span></h3>
                    <h4>Описание</h4>
                    <p>{{s.descriprion}}</p>
                    <h4>Размер</h4>
                    <ul class="size">
                        {% for obj in s.size.all %}
                        <li>{{obj}}</li>
                        {% endfor %}
                    </ul>
                    <div class="button-buy">
                        <a class="a-button" href="#">
                            <span data-text="О">О</span>
                            <span data-text="Т">Т</span>
                            <span data-text="К">К</span>
                            <span data-text="Р">Р</span>
                            <span data-text="Ы">Ы</span>
                            <span data-text="Т">Т</span>
                            <span data-text="Ь">Ь</span>
                        </a>
                    </div>
                    <div class="group">
                        <h2><sup>₽</sup>{{s.price}}<small>.99</small></h2>
                    </div>
                </div>
            </div>
        </td>
            {% endfor %}
</table>
</body>
</html>