
<div class="navigation">
        <div class="toggle">
            <ion-icon name="menu-outline" class="open"></ion-icon>
            <ion-icon name="close-outline" class="close"></ion-icon>
        </div>
        <ul class="saidbar-ul">
            <li class="list saidbar-li active">
                <b></b>
                <b></b>
                <a class="saidbar-a" href="#">
                    <span class="saidbar-icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="saidbar-title">Дом</span>
                </a>
            </li>
            <li class="list saidbar-li">
                <b></b>
                <b></b>
                <a class="saidbar-a" href="#" >
                    <span class="saidbar-icon"><ion-icon name="footsteps-outline"></ion-icon></span>
                    <span class="saidbar-title">Кроссовки</span>
                </a>
            </li>
            <li class="list saidbar-li">
                <b></b>
                <b></b>
                <a class="saidbar-a" href="#">
                    <span class="saidbar-icon"> <ion-icon name="shirt-outline"></ion-icon> </span>
                    <span class="saidbar-title">Футболки</span>
                </a>
            </li>
            <li class="list saidbar-li">
                <b></b>
                <b></b>
                <a class="saidbar-a" href="#">
                    <span class="saidbar-icon"><ion-icon name="shirt"></ion-icon></span>
                    <span class="saidbar-title">Кофты</span>
                </a>
            </li>
            <li class="list saidbar-li">
                <b></b>
                <b></b>
                <a class="saidbar-a" href="#">
                    <span class="saidbar-icon"><ion-icon name="help-outline"></ion-icon></span>
                    <span class="saidbar-title">Помощь</span>
                </a>
            </li>
            <li class="list saidbar-li">
                <b></b>
                <b></b>
                <a class="saidbar-a" href="#">
                    <span class="saidbar-icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="saidbar-title">Выйти</span>
                </a>
            </li>
        </ul>
    </div>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        let menuToggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation')
        menuToggle.onclick = function(){
            menuToggle.classList.toggle('active');
            navigation.classList.toggle('active');

        }



        let list = document.querySelectorAll('.list');
        for (let i=0; i<list.length; i++){
            list[i].onclick = function(){
                let j = 0;
                while (j < list.length){
                    list[j++].className = 'list';
                }
                list[i].className = 'list active';
            }
        }
    </script>