<header class="header-navbar content-sidebar content-header " >
    <a href="{% url 'preview' %}" class="logo">WooClothes </a>
    <ul class="ul-navbar">
        <li class="li-navbar"><a class="a-navbar" href="{% url 'preview' %}">
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            Home
        </a></li>
        <li class="li-navbar"><a class="a-navbar" href="{% url 'index' %}">
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
        Catalog</a></li>
        <li class="li-navbar"><a class="a-navbar" href="{% url 'about' %}">
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
        About</a></li>
				{% if request.user.is_authenticated %}
        <li class="li-navbar"><a class="a-navbar" href="{% url 'index' %}">
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            {{user.username}}</a>
         <a class="a-navbar" href="{% url 'logout' %}">
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            Выйти</a>
        </li>
				{% else %}
        <li class="li-navbar"><a class="a-navbar" href="{% url 'register' %}">
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            Regist</a>
            <a class="a-navbar" href="{% url 'login' %}">
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            <span class="span-navbar"></span>
            Login</a>
        </li>
				{% endif %}

    </ul>
</header>
<section class="banner"></section>
<script type="text/javascript">
    window.addEventListener("scroll", function (){
        var header = document.querySelector('header');
        header.classList.toggle('sticky', window.scrollY > 0)
    })
</script>