{% block pagination %
{% endif %}
{% for s in page_obj.paginator.page_range %}
{% if page_obj.number == s %}
<li class="page-active page-num-active">{{ s }}</li>
{% elif s >= page_obj.number|add:-2 and s <= page_obj.number|add:2  %}
<li class="page-num li-page">
    <a href="?page={{ s }}" class="a-page" >{{s}}</a>
</li>
{% endif %}
{% endfor %}
<!--Кнопка вперёд-->
{% if page_obj.has_next %}
<li class="page-num li-page-next">
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}
</ul>
</nav>
{% endif %}
