{% load static %}

<div class="navigation">
        <div class="toggle">
            <ion-icon name="menu-outline" class="open"></ion-icon>
            <ion-icon name="close-outline" class="close"></ion-icon>
        </div>
        <ul class="saidbar-ul">
	{% if cat_selected == 0 %}
             <li class="list saidbar-li"
                 style="position: relative;
                        list-style: none;
                        width: 100%;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                        background: #fff;">
                <a class="saidbar-a">
                    <span class="saidbar-icon" style="fill:#333">
                        <img src="{% static 'images/saidbar/clothes_black.png' %}" alt="">
                    </span>
                    <span class="saidbar-title" style="color: #333">Все товары</span>
                </a>
            </li>
                	{% else %}
    <li class="list saidbar-li">

                <a class="saidbar-a" href="{% url 'index' %}">
                    <span class="saidbar-icon">
                        <img src="{% static 'images/saidbar/clothes_white.png' %}" alt="">
                    </span>
                    <span class="saidbar-title">Все товары</span>
                </a>
            </li>
{% endif %}
{% for c in cats %}
	{% if c.pk == cat_selected %}
            <li class="list saidbar-li"
                style="position: relative;
                       list-style: none;
                       width: 100%;
                       border-top-left-radius: 20px;
                       border-bottom-left-radius: 20px;
                       background: #fff;">
                <a class="saidbar-a">
                    <span class="saidbar-icon"><img src="{{c.images.url}}"></span>
                    <span class="saidbar-title" style="color: #333">{{c.name}}</span>
                </a>
                	{% else %}
            <li class="list saidbar-li">
                   <a class="saidbar-a" href="{{ c.get_absolute_url }}">
                        <span class="saidbar-icon"><img src="{{c.imageswhite.url}}"></span>
                    <span class="saidbar-title">{{c.name}}</span>
                </a>
{% endif %}
{% endfor %}
            </li>
        </ul>
    </div>